<div>
  <div class="div-header-list w-3/4 md:w-full">
    <h2>{{'shops.shops'|translate}}</h2>
    <button mat-fab color="primary" [matTooltip]="'shops.addShop'|translate" matTooltipPosition="above" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="shops" class="div-list">
    <app-table [columns]="columns" [acciones]="acciones" [clases]="clases"
    [columnsName] = "columnsName" [displayedColumns]="displayedColumns" [datos]="shops"
    (eventEmmiter)="accionar($event)"></app-table>
  </div>
</div>
